
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/youtube_to_vk.iml
__pycache__/youtubers.cpython-312.pyc
.env
video.f308.webm.part
video.webp
video.jpg
video.f308.webm
video.f251.webm
video.webm
